color=true
engine-strict=true
format-package-lock=true
fund=false
lockfile-version=3
package-lock=true
strict-peer-deps=false
legacy-peer-deps=true

# Sets the flags in NODE_OPTIONS when running `npm run myScript`
node-options='--unhandled-rejections=strict --trace-warnings --trace-uncaught'
