engine-strict=true
package-lock=true
lockfile-version=3

# Sets the flags in NODE_OPTIONS when running `npm run myScript`
node-options='--unhandled-rejections=strict --trace-warnings --trace-uncaught'
